#login_form {
    border-radius: 100px;
    width: 40%;
    height: 50%;
    margin-left: 31%;
    margin-top: 15%;
    position: fixed;
    background: url('../images/reg_background.jpg') center no-repeat;
    background-size: cover;
}

#login_inner {
    position: relative;
    width: 100%;
    text-align: center;
}

body {
    background: url("../images/reg_fon.jpg") top no-repeat;
}

.field {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid red;
    background: #F6F6f6;
    border-radius: 8px;
}

#remember {
    position: relative;
    left: 3%;
    width: 100%;
}
